# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_errors.txt

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Build artifacts
server/dist/
client/dist/
client/node_modules/
server/node_modules/
